body {
    margin: 0;
    padding: 0;
}
.topNav {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: #9067ac;
    margin: 0;
}
.logo {
    display: inline-block;
}
.navMenu {
    display: inline-block;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(15vw, 30vw, 50vw);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 90%;
    left: 0;
    list-style: none;
    padding: 0 10px;
    margin-top: 0vh;
    width: 15vw;
    border-radius: 20px;
    font-size: .75em;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li a {
  color: #5b2d8e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: .75em;
}

.navMenu a {
    color: #5b2d8e;
}

.navMenu a:hover {
    color: #9800ac;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  transition: transform 0.3s, opacity 0.3s;
}

a {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}

.aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding: 10rem 0 5rem 0;
}

.aboutImage {
    width: 20vw;
    height: auto;
    margin-right: 5vw;
    border-radius: 10%;
}

.aboutHeading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: clamp(2.25em, 2.5vw, 2.5em);
    color: #5b2d8e;
    margin-bottom: 1rem;
}

.aboutParagraph {
    font-family: 'Aleo', serif;
    font-size: clamp(1.25em, 1.5vw, 1.5em);
    line-height: 1.5;
    color: #333;
    width: 40vw;
}

.backgroundSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding: 0 0 5rem 0;
}

.backgroundHeading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: clamp(2.25em, 2.5vw, 2.5em);
    color: #5b2d8e;
    margin-bottom: 1rem;
}

.backgroundParagraph {
    font-family: 'Aleo', serif;
    font-size: clamp(1.25em, 1.5vw, 1.5em);
    line-height: 1.5;
    color: #333;
    width: 40vw;
}

.timelineItem {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 2rem;
}

.timelineImage {
    width: 15vw;
    height: auto;
    margin-left: 5vw;
    border-radius: 10%;
}

.timelineSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 2rem;
}

.timelineHeading {
    font-family: 'Julius Sans One', sans-serif;
    font-size: clamp(2.25em, 2.5vw, 2.5em);
    color: #5b2d8e;
    margin-bottom: 1rem;
}

.timelineTitle {
    font-family: 'Aleo', serif;
    font-size: clamp(1.25em, 1.5vw, 1.5em);
    margin-bottom: 1rem;
}

.timelineDescription {
    font-family: 'Aleo', serif;
    font-size: clamp(1.25em, 1.5vw, 1.5em);
    line-height: 1;
    color: #333;
    width: 40vw;
    margin-bottom: 2rem;
}

.arrowSection {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

.arrowHeading {
    font-family: 'Alata', sans-serif;
    font-size: clamp(1em, 1.25vw, 1.5em);
    color: #333;
}

.orangeArrow {
    width: 175px;
    height: 175px;
  
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.contactHeading {
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    color: #333;   
}

.contactText {
    font-family: 'Aleo', serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #333;
    max-width: 40vw;

}

.contactArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    background-color: #ccccccde;
}

.contactImg {
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.contactButton {
    margin-top: 1rem;
    padding: 1rem 1rem .5rem 1rem;
    background-color: white;
    justify-content: left;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Alata', sans-serif;
}

.hamburger.open span:nth-child(1) { transform: translateY(8px) rotate(45deg); }
.hamburger.open span:nth-child(2) { opacity: 0; }
.hamburger.open span:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

/* Mobile styles */
@media (max-width: 768px) {

    .topNav {
        justify-content: space-between;
    }    
    .hamburger { 
        display: flex;
        margin-top: 3vh; 
        margin-right: 2vw;
    }

    .navMenu{
        display: none;
        position: absolute;
        flex-direction: column;
        margin-top: 5vh;
        padding: 1rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        width: 50vw;
    }

    .navMenu.open { 
        display: flex;
        position: absolute;
        top: 5vh;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        line-height: 2;
    }

    .navMenu a {
        color: #5b2d8e;
    }

    .navMenu a:hover {
        color: #9800ac;
    }

    .dropdown-content {
        border-radius: 20px;
        top: 90%;
        left: -20vw;
        width: 45vw;
        font-size: 1.25em;
        padding: 2vh 2vw;
    }

    .aboutSection {
        flex-direction: column;
        padding: 5vh 0;
    }

    .aboutImage {
        width: 50vw;
        height: auto;
        border-radius: 20px;
        margin: 0 auto;
    }

    .aboutHeading {
        margin: 5vh auto;
    }

    .aboutParagraph {
        width: 65vw; 
    }

    .backgroundParagraph {
        width: 65vw;
    }

    .timelineItem {
        display: flex;
        flex-direction: column;
        width: 70vw;
    }

    .timelineImage {
        width: 60vw;
        height: auto;
        margin: 0 auto;
        border-radius: 10%;
    }

    .arrowSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3vh 0;
        gap: 3vw;
    }

    .orangeArrow {
        width: 100px;
        height: 100px;
    }
}

@media (min-width:768px) and (max-width: 1024px) {

    .aboutSection {
        flex-direction: column;
        padding: 5vh 0;
    }

    .aboutImage {
        width: 30vw;
        height: auto;
        border-radius: 20px;
        margin: 0 auto;
    }

    .aboutHeading {
        margin: 5vh auto;
    }

    .aboutParagraph {
        width: 65vw; 
    }

    .backgroundParagraph {
        width: 65vw;
    }

    .timelineItem {
        display: flex;
        flex-direction: column;
        width: 70vw;
    }

    .timelineImage {
        width: 40vw;
        height: auto;
        margin: 0 auto;
        border-radius: 10%;
    }

    .arrowSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3vh 0;
        gap: 3vw;
    }

    .orangeArrow {
        width: 100px;
        height: 100px;
    }


}
