body {
    margin: 0;
    padding: 0;
}
.topNav {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: #94B35C;
    margin: 0;
}
.logo {
    display: inline-block;
}
.navMenu {
    display: inline-block;
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(15vw, 30vw, 50vw);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 10;
    top: 90%;
    left: 0;
    list-style: none;
    padding: 0 10px;
    margin-top: 0vh;
    width: 15vw;
    border-radius: 20px;
    font-size: 1.25em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content li a {
    color: #94B35C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: .75em;
}

.navMenu a {
    color: #94B35C;
}

.navMenu a:hover {
    color: #466432;;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    transition: transform 0.3s, opacity 0.3s;
}

a {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}

.heroImage {
    height: 100vh;
    width: 100%;
    background-image: url(images/vibHeroImage.png);
    position: relative;
    top: 0; 
    left: 0;
    margin: 0;
    z-index: -1;
}

h1 {
    color: black;
    font-family: 'Arima', sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
}

h2 {
    color: #94B35C;
    font-family: 'Arima', sans-serif;    
    font-size: 2.25em;
    text-align: center; 
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.overview {
    width: 50vw;
    padding: 0 10vw;
}

.finalLinks {
    font-size: clamp(.5rem, 2.5vw, 1.5rem);
    font-family: 'Arima', sans-serif;
    color: #FFFFFF;
    background-color: #94B35C;
    margin: 5vh auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    display:block;
    text-align: center;
    padding: 1vh 1vw;
    font-weight: bold;
    border-radius: 10px;
}

.finalLinks:visited {
    color: #fcffec;
}

.finalLinks:hover {
    color: #d3d6d1;
}

.beforeAfterGrid {
    max-width: 1280px;
    width: 90%;
    height: auto;
    display: block;
    margin: 5vh auto;
}


h3 {
    color: black;
    font-family: 'Arima', sans-serif;    
    font-size: 2em;
    text-align: left;
}

h4 {
    color: black;
    font-family: 'Arima', sans-serif;    
    font-size: 1.25em;
    text-align: left;
}

p {
    color: black;
    font-family: 'Arima', sans-serif;    
    font-size: 1.25em;
    text-align: left;
    line-height: 1.5;
}

ul {
    color: black;
    font-family: 'Arima', sans-serif;    
    font-size: 1.25em;
    text-align: left;
    line-height: 1.5;
}

.projectIntro {
    padding: 0 10vw 0 0;
}

.designProcess {
    display: flex;
    justify-content: center;
    background-color: #fbfff6;
}

.designProcess img {
    max-width: 851px;
    width: 100%; 
    display: block;
    margin: 5vh auto;
}

.understand {
    border: solid 3px #94B35C;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin: 5vh auto;
}
.define {
    border: solid 3px #94B35C;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin: 5vh auto;
}

.ideate {
    border: solid 3px #94B35C;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin: 5vh auto;
}

.prototype {
    border: solid 3px #94B35C;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin: 5vh auto;
}

.webflow {
    max-width: 2001px;
    width: 90%;        
    height: auto;
    display: block;
    margin: 5vh auto;
}

.wireframeLinks {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-family: 'Arima', sans-serif;
    color: #FFFFFF;
    background-color: #94B35C;
    padding: 2vh 5vw;
    margin: 5vh auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    border-radius: 10px;
}

.wireframeLinks:visited {
    color: #ffffff;
}

.wireframeLinks:hover {
    color: #d3d6d1;
}

.beforeAfter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.before{
    display: flex;
    flex-direction: column;
}

.after {
    display: flex;
    flex-direction: column;
}

.beforeAfter h3 {
    margin-bottom: 15px;
}

.vibMobileBefore {
    max-width: 499px;
    width: 90%;
    height: auto;
}

.vibMobileAfter {
    max-width: 368px;
    width: 90%;
    height: auto;
}

.vibDesktopBefore {
    max-width: 1499px;
    width: 90%;
    height: auto;
    display: block;
    margin: 5vh auto;
}

.vibDesktopAfter {
    max-width: 1436px;
    width: 90%;
    height: auto;
    display: block;
    margin: 5vh auto;
}

.vibMobileHiFi {
    max-width: 1280px;
    width: 90%;
    height: auto;
    margin: 5vh auto;
}

.vibDesktopHiFi {
    max-width: 1280px;
    width: 90%;
    height: auto;
    margin: 5vh auto;
}

.finalDesktop {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardsImg {
    max-width: 1280px; 
    width: 90%;       
    height: auto;
    display: block;
    margin: 5vh auto;
}

.vibFinal {
    max-width: 1280px; 
    width: 90%;       
    height: auto;
    display: block;
    margin: 5vh auto;
}

.vibFinalMobile {
    max-width: 1280px; 
    width: 90%;       
    height: auto;
    display: block;
    margin: 5vh auto;
}

.testLearn {
    border: solid 3px #94B35C;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin: 5vh auto;
}

.desktopRev {
    max-width: 943px;
    width: 90%;        
    height: auto;
    display: block;
    margin: 5vh auto;
}

.mobileRevisions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mobileRev1 {
    max-width: 790px;
    width: 90%;        
    height: auto;
    display: inline;
    margin: 5vh 0;
}
.mobileRev2 {
    max-width: 476px;
    width: 90%;        
    height: auto;
    display: inline;
    margin: 5vh 0;
}

.reflections {
    border: solid 3px #94B35C;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin: 5vh auto;
}

.arrowSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

.arrowHeading {
    font-family: 'Alata', sans-serif;
    font-size: clamp(1.25em, 2vw, 2.5em);
    color: #333;
}

.orangeArrow {
    width: 175px;
    height: 175px;
  
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
}


.contactHeading {
    font-family: 'Alata', sans-serif;
    font-size: 2em;
    color: #333;   
}

.contactText {
    font-family: 'Aleo', serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #333;
    max-width: 40vw;

}

.contactArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    background-color: #ccccccde;
}

.contactImg {
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.contactButton {
    margin-top: 1rem;
    padding: 1rem 1rem .5rem 1rem;
    background-color: white;
    justify-content: left;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer p {
    color: white;
    text-align: center;
    font-family: 'Alata', sans-serif;
}


.hamburger.open span:nth-child(1) { transform: translateY(8px) rotate(45deg); }
.hamburger.open span:nth-child(2) { opacity: 0; }
.hamburger.open span:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

/* Mobile styles */
@media (max-width: 768px) {

    .topNav {
        justify-content: space-between;
    }    
    .hamburger { 
        display: flex;
        margin-top: 3vh; 
        margin-right: 2vw;
    }

    .navMenu{
        display: none;
        position: absolute;
        flex-direction: column;
        margin-top: 5vh;
        padding: 1rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        width: 50vw;
    }

    .navMenu.open { 
        display: flex;
        position: absolute;
        top: 5vh;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        line-height: 4;
    }

    .navMenu a {
        color: #94B35C;
    }

    .navMenu a:hover {
        color: #d0ff4f;
    }

    .dropdown-content {
        border-radius: 20px;
        top: 90%;
        left: -20vw;
        width: 45vw;
        font-size: 1.25em;
        padding: 2vh 2vw;
    }

    .projectSlogan {
        font-size: 1.5em;
    }

    .introduction {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .overview {
        padding: 0;
        margin: 0 auto;
    }

    .overview h3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2em;
    }
    .overview h4 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.25em;
    }
    .overview p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.25em;
    }

    .finalLinks {
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-family: 'Alata', sans-serif;
        color: #fdfff3;
        background-color: #94B35C;
        padding: 2vh 5vw;
        margin: 5vh auto;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    }

    .finalLinks:visited {
        color: #fcffec;
    }

    .finalLinks:hover {
        color: #d3d6d1;
    }

    .beforeAfterGrid {
        width: 80vw;
    }

    .beforeAfter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
    }

    .mobileRevisions {
        display: block;
        justify-content: center;
        gap: 20px;
    }
    .mobileRev1 {
        max-width: 790px;
        width: 90%;        
        height: auto;
        margin: 5vh 0;
    }
    .mobileRev2 {
        max-width: 476px;
        width: 90%;        
        height: auto;
        margin: 5vh 0;
    }

    .arrowSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3vh 0;
        gap: 3vw;
    }

    .orangeArrow {
        width: 100px;
        height: 100px;
    }

}

@media (min-width:768px) and (max-width: 1024px) {

    .arrowSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3vh 0;
        gap: 3vw;
    }

    .orangeArrow {
        width: 100px;
        height: 100px;
    }


}
